@use '../variables'

#site-body
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%

    .imagem-home
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(/src/imagens/home.jpeg)
        background-repeat: no-repeat
        background-size: cover
        height: 850px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .logo
            display: flex
            align-items: center
            justify-content: center
            width: 50%
            position: absolute
            top: 30px
            opacity: 0.5
        
        .txt-img
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            h1
                color: #ffffff
                font-family: 'Times New Roman'
                letter-spacing: .5rem
                text-transform: uppercase
                font-size: 1.2rem
                text-align: center

            h2
                color: #ffffff
                margin-top: 3rem
                font-family: 'Times New Roman'
                letter-spacing: .5rem
                text-transform: uppercase
                font-size: 1rem
                text-align: center

    .form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        margin-top: 2rem
        margin-bottom: 2rem


@media (min-width: 500px)
    #site-body
        .imagem-home
            .logo
                width: 20%