.container
    width: 100%
    max-width: 900px 
    margin: 0 auto
    margin-bottom: 3rem
    margin-top: 5rem
    display: flex
    align-items: center
    justify-content: center

.inner
    display: flex

.item
    min-height: 200px
    min-width: 400px
    padding: 25px

.item img
    width: 100%
    height: 90%
    border-radius: 12px
    pointer-events: none

.carousel
    cursor: grab
    overflow: hidden

.nome-img
    display: flex
    align-items: center
    justify-content: center
    padding-top: 2px
    font-size: 1.0rem
    font-family: 'Arial'
    letter-spacing: .08rem
    color: #6b6b6b
    font-weight: bold
    text-decoration: underline
    cursor: pointer

.gallery-overlay
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.gallery
    display: flex
    align-items: center
    justify-content: center
    width: 100%

.gallery img
    width: 140vh
    height: 70vh
    object-fit: cover

.btn-gallery
    width: 50px
    height: 30px
    margin: 20px
    background-color: #051d29
    color: white
    border-radius: 50px
    border: none
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    transition: transform 0.3s ease-in-out

.btn-gallery:hover
    background-color: #0d3c53
    cursor: pointer
    transform: translateY(-5px)
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.4)

.btn-gallery:active
    transform: translateY(0)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    
.fechar
    margin-top: 1.5rem
    width: 15%
    height: 30px
    background-color: #051d29
    color: white
    border-radius: 4px
    border: none
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    transition: transform 0.3s ease-in-out
    text-transform: uppercase
    letter-spacing: 3px

.fechar:hover
    background-color: #0d3c53
    cursor: pointer
    transform: translateY(-5px)
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.4)

.fechar:active
    transform: translateY(0)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

// Media query para dispositivos móveis
@media (max-width: 600px)
    .item
        min-width: 100% // Alteração para responsivo

    .gallery-overlay
        position: absolute
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    .gallery img
        width: 42vh
        height: 45vh
        border-radius: 12px

    .btn-gallery
        position: relative
        margin: -80px
        display: flex
        align-items: center
        justify-content: center
        top: 240px

    .fechar
        position: relative
        width: 90%
        