#promessa-box
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    width: 100%
    padding: 2rem
    gap: 20px

    .txt-promessa
        font-size: 1.0rem
        font-family: 'Times New Roman'
        letter-spacing: .1rem
        color: #575757

@media (min-width: 500px)
    #promessa-box
        .txt-promessa
            width: 85%
            align-self: center