@use '../variables'
@use '../mixins'

#somos-box
    display: flex
    flex-direction: column
    text-align: center
    width: 100%
    padding: 2rem
    gap: 10px

    .txt
        font-size: 1.0rem
        letter-spacing: .1rem
        text-transform: uppercase
        font-family: variables.$font-stack
        font-weight: bold
        color:#636262

    .img-quem
        align-self: center
        max-width: 90%
        max-height: 90%
        height: 460px
        border-radius: 10px